{% extends 'TODOListBundle:TaskLists:newTaskListForm.html.twig' %}

{% block content %}
    <label for="message"><h3><span class="label label-default label-purple">Update your TaskList</span></h3></label><br/>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <br/>
        {{ form_row(form.Update) }}
    {{ form_end(form) }}
{% endblock %}