/**
 * HEADER
 */
html, body{
    margin: 0;
}
.page-header{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #27123D;
    color: #FFF;
}

footer{
    border-top: 1px solid #E7E7E7;
    padding-top: 15px;
}
/**
 * BODY
 */
#body{
    min-height: 700px;
}
/**
 * NAVBAR
 */
.navbar{
    border-radius: 0;
}

/**
 * CONTAINER
 */
.container{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

/**
 * ALERT
 */
.alert{
    margin-bottom: 0;
}

.input-group textarea.form-control{
    resize: none;
}

/**
 * GENERAL
 */
.right{
    float: right;
}

.panel{
    margin-bottom: 0;
}

.panel-body form{
    display: inline-block;
    float: right;
}

.panel-tweet{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-tweet-more{
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-tweet-more .panel-body{
    padding: 10px;
}

.label-purple{
    background-color: #5A4181;
}

.form-control:focus{
    border-color:#5A4181;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(90,65,129,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(90,65,129,.6);
}

.bs-callout{
    margin:20px 0;
    padding:20px;
    border-left:3px solid #eee;
}

.bs-callout h4{
    margin-top:0;
    margin-bottom:5px;
}

.bs-callout p:last-child{
    margin-bottom:0;
}

.bs-callout code{
    background-color:#fff;
    border-radius:3px;
}

.bs-callout-danger{
    background-color:#fdf7f7;
    border-color:#d9534f;
}

.bs-callout-danger h4{
    color:#d9534f;
}

.bs-callout-warning{
    background-color:#fcf8f2;
    border-color:#f0ad4e;
}

.bs-callout-warning h4{
    color:#f0ad4e;
}

.bs-callout-info{
    background-color:#f4f8fa;
    border-color:#5bc0de;
}

.bs-callout-info h4{
    color:#5bc0de;
}

.bs-callout-success{
    background-color:#DFF0D8;
    border-color:#5cb85c;
}

.bs-callout-success h4{
    color:#5cb85c;
}

.form-inline{
    display: inline-block;
}
